@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');

:root {
  --color-primary: hsl(220, 100%, 30%);
  --color-primary-dark: hsl(220, 100%, 11%);
}

:root {
  font-size: clamp(14px, 2vw, 16px);
}

* {
  box-sizing: border-box;
}

body,
input,
button {
  font-family: 'roboto', 'sans-serif';
}

input[type='file'] {
  display: none;
}

img {
  object-fit: cover;
}

.container {
  margin-inline: auto;
  width: min(90%, 900px);
}

.attention-message {
  border-radius: 10px;
  margin-bottom: 2rem;
}

.button {
  border-radius: 30px;
  border: none;
  cursor: pointer;
  font-size: 0.9rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
  text-decoration: none;
}

.button-primary {
  background: var(--color-primary);
  color: white;
  transition: background 200ms;
}

.button-primary:hover {
  background: var(--color-primary-dark);
}

.download-link {
  display: none;
}

main {
  margin: 3rem 0;
}

form {
  margin-bottom: 3rem;
}

canvas {
  border: 1px solid black;
}

footer {
  text-align: center;
  margin: 3rem 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

